<nav class="menu require-fonts">
	<button class="menu__toggle">Menu</button>

	<ul class="menu__list">
		<li class="menu__list__home"><a href="#">Home</a></li>
		<li class="menu__list__blog"><a href="#">Blog</a></li>
		<li class="menu__list__contact"><a href="#">Contact</a></li>
	</ul>
</nav>
