<nav class="social">
	<a class="social__icon social__icon--twitter button" href="https://twitter.com/colinrotherham">Twitter</a>
	<a class="social__icon social__icon--github button" href="https://github.com/colinrotherham">GitHub</a>
	<a class="social__icon social__icon--dribbble button" href="https://dribbble.com/colinrotherham">Dribbble</a>
</nav>