<nav class="social">
	<a class="social__icon social__icon--twitter" href="https://twitter.com/colinrotherham">Twitter</a>
	<a class="social__icon social__icon--github" href="https://github.com/colinrotherham">GitHub</a>
	<a class="social__icon social__icon--dribbble" href="https://dribbble.com/colinrotherham">Dribbble</a>
</nav>