			{{> menu}}

			<div class="logo">Colin Rotherham. Interation Designer</div>

			<!-- Intro section -->
			<div class="intro require-fonts">

				<!-- Quote -->
				<h1><span class="quote">“</span>Hi, my name’s Colin,<br>
				I’m a freelance designer, <br>developer &amp; illustrator<span class="quote">”</span></h1>

				<!-- Contact button -->
				<button type="button" class="intro__contact">Get in touch</button>

			</div>

			{{> social}}