			{{> menu}}

			<div class="logo">Colin Rotherham. Interation Designer</div>

			<div class="intro require-fonts">
				<h1>Hi, my name’s Colin, I’m a freelance developer, designer &amp; illustrator</h1>
			</div>

			{{> social}}