<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>

		<!-- Handheld support -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- CSS include -->
		<style>{{{includeCSS}}}</style>

		<!-- Initialise advanced UI -->
		<script>document.documentElement.className = 'advanced wf-loading';</script>
	</head>
	<body class="{{pageClass}}">

		<div class="container">
{{{body}}}
		</div>

		<!-- Script includes -->
		<script src="/assets/js/base.min.js"></script>
	</body>
</html>